root = true

[*]
end_of_line = lf
insert_final_newline = true
max_line_length = 100

[**.py]
indent_style = space
indent_size = 4
emacs_py_project = .
emacs_py_formatter = ruff
# emacs_py_save_touch = infra/uwsgi.ini
# other variables:
# emacs_py_test_command
# emacs_py_test_full_path
# emacs_py_project_root
# emacs_py_extra_path
# emacs_py_interactive

[frontend/**.{js,jsx}]
indent_style = space
indent_size = 2
# emacs_py_save_touch = frontend/package.json


[Makefile]
indent_style = tab
